*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  
  color: $text-color;
  font-family: 'Poppins';
}

.container{ 
  display: flex;
}

main{
  background: $bg-color;
}

ul{
  list-style: none;
}