$primary-color: #2660A4;

$filter-box-shadow: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.04)); 

// Light Theme
$text-color: #29292E;
$secondary-text-color: #F8F8F8;

$bg-color: #FEFEFE;
$secondary-bg-color: #f5f5f5;

$completed-bg-color: #DBDCDD;
$completed-text-color: #777777;

// Dark Theme
$text-color-dark-theme: #FEFEFE;

$bg-color-dark-theme: #1A1A1A;
$secondary-bg-color-dark-theme: #000000;

$completed-bg-color-dark-theme: #202020;
$completed-text-color-dark-theme: #9E9E9E;