@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #2660A4;
}

html {
  --text-color: #29292E;
  --secondary-text-color: #F8F8F8;
  --bg-color: #FEFEFE;
  --secondary-bg-color: #f5f5f5;
  --completed-bg-color: #DBDCDD;
  --completed-text-color: #777777;
  --border-color: #E8E8E8;
}

html[data-theme="dark"] {
  --text-color: #FEFEFE;
  --secondary-text-color: #F8F8F8;
  --bg-color: #1A1A1A;
  --secondary-bg-color: #000000;
  --completed-bg-color: #202020;
  --completed-text-color: #9E9E9E;
  --border-color: #1A1A1A;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins' !important;
}

body {
  position: relative;
  color: var(--text-color);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  background: var(--bg-color);
  min-height: 100vh;
}

ul {
  list-style: none;
}

.lateral-menu {
  padding: 3rem;
  min-height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  background: var(--secondary-bg-color);
}

.lateral-menu h1 {
  font-size: 1.85rem;
  color: var(--primary-color);
  white-space: nowrap;
}

.lateral-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  width: 100%;
}

.lateral-menu .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
}

.lateral-menu .menu li.current {
  background: var(--primary-color);
  color: var(--secondary-text-color);
  width: 100%;
  border-radius: 4px;
}

.lateral-menu .menu #switch-theme-mobile {
  display: none;
}

.lateral-menu .menu-button {
  display: none;
  width: 30px;
  background-color: transparent;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.lateral-menu .menu-button .menu-icon {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  display: block;
  position: relative;
  border-radius: 30px;
}

.lateral-menu .menu-button .menu-icon::after, .lateral-menu .menu-button .menu-icon::before {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 30px;
}

.lateral-menu .menu-button .menu-icon::before {
  margin-top: -8px;
  width: 30px;
}

.lateral-menu .menu-button .menu-icon::after {
  margin-top: 8px;
  width: 30px;
}

.lateral-menu .menu-button.active .menu-icon {
  height: 0;
  width: 30px;
}

.lateral-menu .menu-button.active .menu-icon::after {
  width: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 0;
}

.lateral-menu .menu-button.active .menu-icon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 0;
}

@media (max-width: 600px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .lateral-menu {
    min-height: 100%;
    padding: 1rem 1.5rem;
  }
  .lateral-menu header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .lateral-menu .menu {
    display: none;
  }
  .lateral-menu .menu #switch-theme-mobile {
    display: block;
  }
  .lateral-menu .menu-button {
    display: block;
    z-index: 101;
  }
  .lateral-menu .menu.active {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 100px 20px;
    width: 100%;
    max-width: 250px;
    min-height: 100vh;
    background: var(--secondary-bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    z-index: 100;
  }
  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .tasks #switch-theme {
    display: none;
  }
}

main {
  padding: 3rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tasks {
  max-width: 650px;
  width: 100%;
}

.tasks header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.tasks header #currentDate {
  font-size: 1.375rem;
  text-align: center;
}

.tasks header #switch-theme {
  cursor: pointer;
}

.tasks .btn-add-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  background: var(--primary-color);
  -webkit-filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.04));
          filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.04));
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  cursor: pointer;
  font-family: 'Poppins';
  color: #fff;
  padding: 0.75rem 0.5rem;
  margin: 2rem 0;
  border-radius: 4px;
}

.tasks .btn-add-tasks::before {
  content: '+';
  border-radius: 50%;
  background: #fff;
  color: var(--primary-color);
  width: 24px;
  height: 24px;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#tasks-list {
  max-width: 650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

#tasks-list .card-task {
  width: 100%;
  border-radius: 4px;
  background: var(--secondary-bg-color);
  -webkit-filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.04));
          filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.04));
  padding: 1rem;
}

#tasks-list .card-task .task-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 8px;
}

#tasks-list .card-task .task-header .date-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-size: 0.85rem;
}

#tasks-list .card-task .task-header .date-task.past {
  background: #E73F5D;
}

#tasks-list .card-task p {
  margin: 1rem 0;
}

#tasks-list .card-task .actions {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

#tasks-list .card-task .actions img {
  cursor: pointer;
}

#tasks-list .card-task.completed {
  background: var(--completed-bg-color);
  color: var(--completed-text-color);
}

#tasks-list .card-task.completed .date-task, #tasks-list .card-task.completed .date-task.past {
  background: var(--completed-text-color);
}

@media (max-width: 450px) {
  .tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#modal-wrapper {
  display: none;
}

#modal-wrapper.show {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  display: none;
}

.modal.show-modal {
  display: block;
  border: 1px solid var(--border-color);
  background: var(--secondary-bg-color);
  border-radius: 8px;
  margin: 3rem 0.5rem;
  width: 100%;
  max-width: 650px;
  -webkit-animation: showModal 0.2s;
          animation: showModal 0.2s;
}

@-webkit-keyframes showModal {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes showModal {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--border-color);
}

.modal .modal-header h2 {
  font-size: 1.35rem;
  font-weight: normal;
}

.modal .modal-header .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.modal .modal-header .close svg {
  stroke: var(--text-color);
}

.modal .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 2rem;
  width: 100%;
  gap: 1rem;
}

.modal .modal-content .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.modal .modal-content .input-group input, .modal .modal-content .input-group textarea {
  border-radius: 8px;
  background: var(--bg-color);
  -webkit-filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.04));
          filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.04));
  border: none;
  padding: 0.75rem 1rem;
  width: 100%;
  color: var(--text-color);
}

.modal .modal-content .input-group textarea {
  resize: none;
  height: 8rem;
}

.modal .modal-actions {
  width: 100%;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-actions button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.modal .modal-actions button.cancel {
  background: var(--completed-bg-color);
  color: var(--completed-text-color);
}

.modal .modal-actions button.submit {
  background: var(--primary-color);
  color: #fff;
}
/*# sourceMappingURL=style.css.map */