*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' !important;
}



body{
  position: relative;

  color: var(--text-color);
}

.container{ 
  display: flex;
}

main{
  background: var(--bg-color);
  min-height: 100vh;
}

ul{
  list-style: none;
}