main{
  padding: 3rem;
  width: 100%;

  @include displayFlex(center,flex-start);
  flex-direction: column;

  #msg{
    display: none;

    &.show{
      display: inline-block;
      border-radius: 4px;
      background: var(--secondary-bg-color);
      filter: $filter-box-shadow;
      padding: 1rem;
      margin: 5rem 0;
      font-size: 1.2rem;
    }
  }
}

.tasks{
  max-width: 650px;
  width: 100%;

  header{
    @include displayFlex(center,space-between);
    gap: 2rem;

    #currentDate{
      font-size: 1.375rem;
      text-align: center;
    }

    #switch-theme{
      cursor: pointer;
    }

  }

  .btn-add-tasks{
    @include displayFlex(center,center);
    gap: 8px;
    background: var(--primary-color);
    filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.04));
    width: fit-content;
    border: none;

    cursor: pointer;

    font-family: 'Poppins';
    color: #fff;

    padding: 0.75rem 0.5rem;
    margin: 2rem 0;
    border-radius: 4px;

    &::before{
      content: '+';
      border-radius: 50%;
      background: #fff;
      color: var(--primary-color);
      width: 24px;
      height: 24px;
      font-size: 1.2rem;
      @include displayFlex(center,center);
    }
      
    
  }
}

#tasks-list{
  max-width: 650px;
  width: 100%;
  @include displayFlex(flex-start,center);
  flex-direction: column;
  gap: 24px;

  .card-task{
    width: 100%;
    border-radius: 4px;
    background: var(--secondary-bg-color);
    filter: $filter-box-shadow;
    padding: 1rem;

    .task-header{
      @include displayFlex(center, space-between);
      flex-wrap: wrap;
      margin-bottom: 8px;

      .date-task{
        display: flex;
        background: var(--primary-color);
        border-radius: 8px;
        color: #fff;
        padding: 0.2rem 0.5rem;
        font-size: 0.85rem;

        &.past{
          background: #E73F5D;
        }
      }
    }

    p{
      margin: 1rem 0;

    }

    .actions{
      margin-top: 8px;
      display: flex;
      gap: 48px;

      img{
        cursor: pointer;
      }
    }

    &.completed{
      background: var(--completed-bg-color);
      color: var(--completed-text-color);

      .date-task, .date-task.past{
        background: var(--completed-text-color);
      }
    }
  }
}

@media (max-width: 450px){
  .tasks{
    @include displayFlex(center,center);
    flex-direction: column;
  }
}